:root{
    font-size: 25px;
}

body{
    font-family:'Open Sans Light', sans-serif;
    margin-top: 3vh;
    margin-left: 20vw;
    margin-right: 20vw;
}

.header{
    font-size: 3rem;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 1;
}

#libraryContainer{
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.button:disabled{
    color: gray;
}
.button:disabled:hover{
    color: gray;
    background-color: white;
}
.button{
  border-radius: 0rem;
  border-width: 0.5px;
  padding: 0.5rem 1.5rem;
  background-color: white;
  color: black;
}

.button:hover {
  background-color: black;
  color: white;
}

.remove-button, .toggle-button{
    width: 100%;
}

.button.remove-button:hover{
    background-color: red;
}

input[type="radio"] {
    width: 25px;
    height: 25px;
    filter: grayscale(1);
}
#addBookForm{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 25rem;
    gap: 1vh;
}

#libraryContainer.hidden, #formContainer.hidden{
    display: none;
}

.form-item{
    display: flex;
    justify-content: space-between;
}

.form-radio{
    display: flex;
    justify-content: space-between;
}


table {
  border-collapse: collapse;
  border-style: hidden;
  border-spacing: 0;
  letter-spacing: 1px;
  font-size: 1rem;
}

td,
th {
  border-bottom: 1px solid rgb(190, 190, 190);
  padding: 10px 20px;
  text-align: center;
}

tbody {
  font-size: 95%;
}
